[33mcommit 42cf279ec556581f2a85025e8311da40c131e258[m[33m ([m[1;36mHEAD[m[33m -> [m[1;32mmain[m[33m, [m[1;31morigin/main[m[33m)[m
Merge: 0df11dd ef1b4aa
Author: Jigyas 165 <24khamelej@rbunagpur.in>
Date:   Fri Apr 17 23:48:55 2026 +0530

    Resolved README merge conflict

[33mcommit 0df11dd483cc9ecfe7acf95a25c65703f075b595[m
Merge: 69b89b9 14aae9c
Author: Jigyas 165 <24khamelej@rbunagpur.in>
Date:   Fri Apr 17 23:44:36 2026 +0530

    Fixed merge conflict

[33mcommit ef1b4aabe96d7754f4e6049dd57583d08b9aca4f[m
Author: Jigyasa Khamele <24khamelej@rbunagpur.in>
Date:   Fri Apr 17 23:44:24 2026 +0530

    Revise README with project details and instructions
    
    Updated project title and added detailed project features, technologies, running instructions, and author information.

[33mcommit 14aae9c0dbe1b7e9359d84a363624d0473483150[m
Author: Jigyasa Khamele <24khamelej@rbunagpur.in>
Date:   Fri Apr 17 23:35:04 2026 +0530

    Initial commit

[33mcommit 69b89b9c26924565fd2a3ad9482da2bc3ac4158e[m
Author: Jigyas 165 <24khamelej@rbunagpur.in>
Date:   Fri Apr 17 23:31:28 2026 +0530

    Taskify SPA project
